abrt_checker_11554.log

abrt_checker_11622.log
abrt_checker_1233.log
abrt_checker_1256.log
abrt_checker_1281.log
abrt_checker_1329.log

libproj.so
proj.so

test/myproj/TestClass.class
test/myproj/test.class

results.txt

.build-rrjni.sh.swp
build
install

# user-config.sh

